
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Ignore nested repository folder that was accidentally copied into repo root
C-cash_bks_repo/
